*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Helvetica Neue', sans-serif;
}

body{
    height: 100%;

}

main{
    width: 100%;
    height: 100%;
    margin: 3%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}



a{
    color: aliceblue;
}

.card{
    width: 50%;
}

.card-title{
    text-align: center;
    font-size: 4rem
}

.card-text{
    font-size: 2.5rem;
    padding: 5%;
}

html, body{
    font-size: 62.5%;
    background-color: #000249;
}

.buttons{
    width: 100%;
    display: flex;
    gap: 3%;
    justify-content: center;
    flex-wrap: wrap;
    margin: 3%;
}

.navbar{
    background-color: #f6490d;
   
}

.navbar-brand{
    font-size: 3rem;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
    color: #000249;
    font-weight: 700px;
}



.btn{
    background-color: #f6490d;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    border-color: #f6490d;
    color: antiquewhite;
    margin: 3%;
    border-radius: 15px; 
    cursor:pointer;
    padding: 1rem;
}

.counter{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: aliceblue;
    border-radius: 10px;
    margin-top: 4%;
    box-shadow: 15px 30px 35 px rgba (0,0,0,0.1);

}

.coin{
    width: 50%;
    height: 200px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    transform-style: preserve-3d;

    
}

.coin img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


.cara, .cruz{
    position: absolute;
    backface-visibility: hidden;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.cruz{
    transform: rotateX(180deg);
}
@keyframes spin-cruz{
    0%{
        transform: rotateX(0);
    }

    100%{
        transform: rotateX(1980deg);
    }

}

@keyframes spin-cara{
    0%{
        transform:rotateX(0);
    }
    100%{
        transform: rotateX(2160deg);
    }
}
















/* ESTILOS POR ID */

#pageTitle{
    display: flex;
    font-family: 'DM Sans', sans-serif;
    justify-content: center;
    color: purple;
    align-items: center;
}

#heads{
    width: 30%;
}

#tails{
    width: 30%;
}

#headerCoin{
    width: 50px;
    height: 50px;
    
}

#flip{
    background-color: #000249;
    border-color: #000249;
    color: #f6490d;
    width: 75%;

}



#reset{

color: #000249;
width: 75%;

}

